<%- include('header') %>  

    <div class="box" id="heading">
        <h1><%= title_ejs %></h1>
    </div>
    
    <div class="box">
        <% for(let i = 0; i < newListItems.length; i++){ %> 
            <div class="item">
                <input type="checkbox">
                <p><%= newListItems[i] %></p>
            </div>
        <% } %>

        <form action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="submit_button" value=<%=title_ejs%>  >+</button>
        </form>
    </div>
        
<%- include('footer') %> 
